@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content {
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.container-left {
  width: 50%;
  height: 16rem;
  position: relative;
}

.container-img {
  position: relative;
  width: 300px;
  height: 100%;
  margin: auto 0 auto auto;
}

.container-img .left-img {
  width: 100%;
  height: 100%;
  border-radius: 12px 0 0 12px;
}

.container-right {
  position: relative;
  width: 50%;
  height: 17rem;
  transform: translateY(10px);
}

.right-content {
  background-color: white;
  width: 500px;
  padding: 1.5rem 1.6rem;
  border-radius: 0 12px 12px 0;
}

.heading {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  width: 375px;
}

.para {
  font-size: 13px;
  font-weight: 600;
  color: hsl(214, 17%, 51%);
  width: 375px;
  margin-top: 0.8rem;
}

.profile {
  display: flex;
  margin-top: 0.8rem;
}

.profile-right {
  width: 30%;
}

.pic-con {
  width: 50px;
  height: 50px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-left {
  width: 100%;
  position: absolute;
  left: 5.5rem;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 15px;
}

.date {
  color: hsl(214, 17%, 51%);
  font-size: 14px;
}

.share-btn {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
  right: 3rem;
  background-color: rgb(236, 242, 248);
  transition: all 0.5s ease-in-out 0s;
}

svg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  left: 8px;
}

.share-btn:hover {
  cursor: pointer;
  background-color: hsl(214, 17%, 51%);
}

svg:hover path {
  fill: #ecf2f8;
}

.social-media {
  background-color: rgb(72, 85, 106);
  display: flex;
  position: relative;
  border-radius: 9px;
  padding: 15px 30px;
  bottom: 4.3rem;
  left: 6.2rem;
}

#media:before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 6.3rem;
  width: 0;
  height: 0;
  border-top: 20px solid rgb(72, 85, 106);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.share,
i {
  padding: 0 10px;
}

.share {
  color: rgb(236, 242, 248);
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: 1px;
}

i {
  display: flex;
  width: 2.5rem;
}

i img {
  width: 100%;
  height: 100%;
}

.show {
  z-index: -999;
  opacity: -1;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 8rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1350px) {
  .container-content {
    flex-direction: column;
    position: fixed;
    margin: 2rem;
  }
  .container-left,
  .container-right {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .container-left {
    transform: translateY(10px);
  }
  .container-right {
    height: 80%;
  }
  .container-img {
    width: 100%;
  }
  .container-img .left-img {
    border-radius: 12px 12px 0 0;
  }
  .right-content {
    border-radius: 0 0 12px 12px;
  }
  .right-content {
    width: 100%;
    height: 100%;
  }
  .heading,
  .para,
  .profile-right {
    width: 100%;
  }
  .profile {
    margin-top: 3rem;
  }
  .social-media {
    display: flex;
    padding: 15px 30px;
    position: absolute;
    top: 21rem;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  #media:before {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  .share {
    font-size: 20px;
  }
  .share,
  i {
    margin: auto;
  }
  i {
    margin: 10px 10px;
    padding-top: 5px;
  }
  .attribution {
    bottom: 0;
  }
}
